/* NewRepo.module.css */
.container {
  padding: 20px;
  width: 100%;
  height: auto;
  background-color: red;
}

.button {
  margin-bottom: 20px;
  color: yellow;
}
.cont{
  background-color: red;
}

.modal {
  background-color: #f0f4f8;
  width: 100%;
  height: auto;
  background-color: red;
  text-align: center;
}

.modal-header {
  font-size: 24px;
  font-weight: bold;
  color: rgb(34, 245, 217);
}

.modal-body {
  background-color: #edf2f7;
}

.form-control {
  margin-bottom: 16px;
}

.form-label {
  color: #1a202c;
  font-size: 2rem;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.input {
  background-color: #ffffff;
  color: #000000;
  height: 1.5rem;
}

.textarea {
  background-color: #ffffff;
  color: #000000;
}

.repo-box {
  padding: 20px;
  border-width: 1px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.repo-name {
  font-size: 20px;
  font-weight: bold;
}

.repo-description {
  margin-bottom: 16px;
}

.update-button {
  margin-right: 8px;
}

.delete-button {
  margin-left: 8px;
}